MCP_LITELLM_LITELLM_BASE_URL=http://127.0.0.1:4000
MCP_LITELLM_LITELLM_API_KEY=
MCP_LITELLM_TRANSPORT=stdio
MCP_LITELLM_MAX_RESPONSE_BYTES=5000000
MCP_LITELLM_HOST=127.0.0.1
MCP_LITELLM_PORT=8000
MCP_LITELLM_TOOL_PROFILES=core
MCP_LITELLM_ENABLE_TOOLS=
MCP_LITELLM_DISABLE_TOOLS=
